@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
  
:root {
    --background: #06182f;
    --azul-neon: #22D4FD;
    --branco: #f6f6f6;
    --side-bar: #113463;
    --side-bar-submenu: #184683;

    --fonte-titulo: "Krona One", sans-serif;
    --fonte-texto: "Montserrat", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background);
    box-sizing: border-box;
    height: 100vh;
    min-height: 100vh;
}

.cabecalho{
    display: flex;
    justify-content: center;
    background-color: var(--azul-neon);
}

.apresentacao__conteudo{
    display: flex;
    margin: 40px 40px;
    padding: 50px 50px;
    height: 650px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-size:contain;
}

.apresentacao__conteudo_imagem_perfil{
    display: flex;
    border-radius: 600%;
    height: 200px;
    width: 200px;        
}


.apresentacao__conteudo_titulo{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: var(--fonte-titulo);
    font-size: 1.25rem;
    color: var(--branco);
}

.apresentacao__conteudo_texto{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.875rem;
    font-family: var(--fonte-texto);
    font-weight: 300;
    color: var(--branco);
}

.apresentacao__conteudo_sobremim{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.875rem;
    font-family: var(--fonte-texto);
    font-weight: 500;
    color: var(--branco);
    gap: 10px
}

.apresentacao__conteudo_sobremim_block{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.875rem;
    font-family: var(--fonte-texto);
    font-weight: 300;
    color: var(--branco);
}

.side-bar{
    background: var(--side-bar);
    backdrop-filter: blur(15px);
    width: 350px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    overflow-y: auto;
    transition: 0.6s ease;
    transition-property: left;
}

.side-bar.active{
    left: 00;
}

.side-bar__menu{
    width: 100%;
    margin-top: 80px;
}

.side-bar__menu_item{
    position: relative;
    cursor: pointer;
}

.side-bar__menu_item a{
    color: var(--branco);
    font-size: 1rem;
    text-decoration: none;
    padding: 5px 30px;
    line-height: 60px;
    display: block;
}

.side-bar__menu_item a:hover{
    background: var(--azul-neon);
    transition: 0.3s ease;
    color: var(--background);
}

.side-bar .menu .item i{
    margin-right: 15px;
}

.side-bar__menu_item a .dropdown{
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}

.side-bar__sub-menu{
    background: var(--side-bar-submenu);
    display: none;
}

.side-bar__sub-menu a{
    padding-left: 45px;
}

.rotate{
    transform: rotate(90deg);
}

.side-bar__menu-btn{    
    position: absolute;
    color: var(--branco);
    font-size: 1.25rem;
    left: 0;
    margin: 25px;
    cursor: pointer;
}

.side-bar__close-btn{  
    position: absolute;
    color: var(--branco);
    font-size: 1.25rem;
    right: 0;
    margin: 25px;
    cursor: pointer;
}
  

.apresentacao__links{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 10px;
    padding: 10px;
}

.apresentacao__links__link{
    display: flex;
    width: 30px;
    text-align: center;
}

.apresentacao__links__link_thm{
    display: flex;
    border-radius: 300%;
    width: 30px;
    text-align: center;
}


#code{
    background-color: red;
    font-family: courier, monospace;
}